*{
    padding: 0%;
    margin: 0;
}

body{
    background-color: darkblue;
}

.texto{
    text-align: justify;
    font-style: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

.encabezado{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.encabezado-Menu{
    text-align: justify;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

.texto-descripcion{
    text-align: center;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gainsboro;
}

.img{
    width: 150px;
    height: 150px;
    border: 1px;
    margin: 1em;
}

.lista-menu{
    padding: 10px;
}

.lista-menu li{
    padding: 10px 30px;
    display: inline;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 1.5em;
}

#contenedor{
    width: 900px;
    height: 1000px;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado{
    height: 15%;
    background-color: white;
    border-radius: 5px;
}

#menu{
    height: 15%;
    background-color: darkgray;
    border-radius: 5px;
}

#seccion{
    height: 60%;
    background-color: darkcyan;
    border-radius: 5px;
}