*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #138e78;
}

#contenedor{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
}

#encabezado{
    width: 100%;
    background: linear-gradient(#138e78,#64e4c4);
    padding: 1.5em;
}

#seccion{
    width: 100%;
    background-color: white;
    padding: 1.5em;
}

#pie{
    width: 100%;
    background: linear-gradient(#64e4c4,#138e78);
    padding: 1.5em;
}

table{

    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #cef9ec;
    
}
    

th,td {

    border: 1px solid #f1fcf9;
    padding: 8px;
    text-align: center;

}

th{
    background-color: #e0dee9;
}

#columna1,#columna2,#columna3,#columna4,#columna5,#columna6,#columna7 {
    width: 20%;
}

button,
button:focus {
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 0.7rem;
  background-image: linear-gradient(#1bb192, #147161);
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  box-shadow: 0px 1px 6px 0px rgb(129, 254, 227);
  transform: translate(0, -3px);
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
}

button:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}

.input {
    margin: 30px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #062d28;
  }

p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

small{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}