*{
    padding: 0%;
    margin: 0%;
}

body{
    background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
    background-size: 1000% 1000%;
    animation: gradient 5s ease infinite;

    

}

#contenedor{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
}

#encabezado{
    width: 100%;
    background: transparent;
    padding: 1.5em;
}

#seccion{
    width: 100%;
    background: transparent;
    padding: 1.5em;
}

#pie{
    width: 100%;
    background: transparent;
    padding: 1.5em;
}

label{
    height: 12px;
    margin: 12px;
}

.input {
    background: linear-gradient(-45deg, #0c2635, #19071d, #464444, #000);
    background-size: 1000% 1000%;
    animation: gradient 5s ease infinite;
    max-width: 190px;
    height: 12px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
    margin-right: 12px;
    color: rgb(0, 255, 255);
  }
  
  .input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }

  .Btn {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 13.5px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
    background-size: 1000% 1000%;
    animation: gradient 5s ease infinite;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    transition-duration: .1s;
  }
  /* Button's gradient animation */
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0 50%;
    }
  }
  /* Effect on Hover*/
  .Btn::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    left: -70px;
    top: 0;
    background-color: rgba(214, 199, 255, 0.329);
    filter: blur(10px);
    transition-duration: .3s;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .Btn:hover::before {
    transform: translateX(250px);
    transition-duration: .3s;
  }
  /* Effect on click */
  .Btn:active {
    transform: translate(2px,2px);
    transition-duration: .1s;
  }